.homepage {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:50vw;
    height:50vh;
    border-radius:20px;
    box-shadow: 0 0 15px 5px grey;
    background: white;
    position : relative
}

.homepage > .button {
    background : #1877f2;
    border : 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline:none;
    cursor:pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }


 /* .cgpa_container{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.03),
      7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  }*/

  .cgpa_container > .cgpa_title{
    width: 100%;
    height: 50px;
    background-color: #00abfa;
    text-align: center;
    line-height: 50px;
    font-family: Bahnschrift SemiBold;
    font-size: 24px;
    color:#fff;
    border-radius: 10px 10px 0px 0px ;
  }
  .cgpa_output > .button{
    background : #1877f2;
    border : 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline:none;
    cursor:pointer;
  }

  .cgpa_container > input{
    border: none;
    background-color: #fff;
    outline: none;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #eee;
    text-align: center;
    font-family: tahoma;
    font-weight: bold;
    color:#242627;
    margin: 10px;
  }

  ::placeholder{
    color:#242627;
    font-size: 15px;
  }

    .cgpa_output{
    h1: #242627;;
  }

  .cgpa_container .cgpa_output h1{
    font-family: arial;
    font-size: 25px;
    margin-top: 25px;
    color:#fff;
  }
 
  .cgpa_container .cgpa_output #btn_re {
    background : #1877f2;
    border : 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline:none;
    cursor:pointer;
  }

  .cgpa_container .cgpa_output #btn_sub{
    background : #1877f2;
    border : 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline:none;
    cursor:pointer;
  }